<div id="chatbox">
	<div id="message-box">
		<ul id="messages-list">
			<li class="received">&nbsp; Received Message</li>
			<li class="sent">Sent Message &nbsp;</li>
		</ul>
	</div>
	<div id="input-and-send">
		<form action="" method="post" id="input-form">
			<input
				type="text"
				name=""
				id="text"
				placeholder="Type Your Message Here"
			/>
			<button type="submit" id="send-button">SEND</button>
		</form>
	</div>
</div>
