<link rel="stylesheet" href="/CSS/home.css" />
<body>
	<h1>Social Web App :<%= title %></h1>

	<section>
		<h2>POSTS</h2>
		<% if(locals.user){ %>
		<form action="/posts/create" method="POST">
			<textarea
				name="content"
				id=""
				cols="30"
				rows="3"
				placeholder="type Your Post"
			></textarea>
			<button type="submit" value="post">Post</button>
		</form>
		<% } %>
	</section>
	<div id="user-post-container">
		<% for(post of posts) {%> <%- include('_posts') -%> <%}%>
	</div>
</body>
