#chatbox {
	width: 300px;
	height: 400px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#message-box {
	width: 300px;
	height: 80%;
	display: flex;
}
#messages-list {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0px 0px;
	padding-inline-start: 0px;
}
.received {
	width: 100%;
	padding: 0px 0px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 42px;
	background-color: rgb(204, 170, 170);
	margin-bottom: 5px;
}

.sent {
	text-align: end;
	/* width: 95%; */
	/* padding: 0px 5px; */
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 42px;
	background-color: rgb(122, 179, 147);
	margin-bottom: 5px;
}
#input-and-send {
	width: 100%;
	height: 8%;
}
#input-form {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: space-between;
}
#text {
	width: 75%;
	border: none;

	outline: none;
	padding-left: 10px;
}
#send-button {
	width: 20%;
}
