body {
	background-color: lightgray;
}

.user-post-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.list-post {
	border-bottom: solid 5px maroon;
}
.Comments-container {
	color: red;
	display: flex;
	justify-content: center;
}
